<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>New Food</title>

  <!--bootstrap CDN links -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

  <body>
    <div class="container-fluid" style="padding: 5rem">

      <h1>Add New Food item</h1>

      <!-- add new item form. redirect to main page. -->
      <form action="/" method="POST">

        <!-- input grid -->
        <div class="row">
          <div class="col">
            <label>New Food Item</label>
            <input name="food_name" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <div class="form-group">
              <label>Days until Expiry</label>
              <select name="expiry_day" multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>
        </div>

        <br>

        <!-- submit button -->
        <input class="btn btn-primary" type="submit" value="Add">

      </form>
      <br>
        
        <a class="btn btn-primary" href="{{url_for('main')}}"> Nevermind </a> 

    </div>

  </body>
</body>

</html>