<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Collection Database</title>

     <!--bootstrap CDN links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>
    <div class="container-fluid row" style="padding: 5rem">
    <div class="col-lg-6">
      <h1>Food Collection Database</h1>
      <a href="{{url_for('webAddFood')}}"> Add New Food Item</a>
      <p>🍏</p>
      <hr>
      <ul>
        {% for item in foods%}
        <li>{{item.title}} <strong>will expire in:</strong> {{item.expiry}} days  <a href="{{ url_for('editFood', id=item.id) }}">EDIT</a> <a href="{{ url_for('deleteFood', id=item.id) }}">DELETE</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-6">
      <h1>Recipe Collection Database</h1>
      <a href="{{url_for('webAddRecipe')}}"> Add New Recipe</a>
      <p><em>📚 Please note that recipe ingredients must be fully deleted before recipes can be deleted.</em></p>
      <hr>
        {% for item in recipes%}
        <h5><strong><a href={{item.url}}>{{item.title}}</a></strong>   <a href="{{ url_for('editRecipe', id=item.id) }}">EDIT</a> <a href="{{ url_for('deleteRecipe', id=item.id) }}">DELETE</a></h5>
        
        
        <h6>Rating: {{item.rating}} / 5</h6>
        <h6>Ingredients:</h6>
        <ul>
          {% for ingredient in item.ingredients %}
          <li>{{ingredient.name}} - {{ingredient.quantity}} <a href="{{ url_for('editIngredient', id=ingredient.id) }}">EDIT</a> <a href="{{ url_for('deleteIngredient', id=ingredient.id) }}">DELETE</a></li>
          {% endfor %}
          <li><a class="btn btn-primary" href="{{ url_for('addIngredient', id=item.id) }}">+</a></li>
        </ul>
        
        
        <h6>Instructions:</h6>
        {%for step in item.instructions.split("\n") %}
        <p>{{step}}</p>
        {% endfor %}
        <hr>
        {% endfor %}
    </div>
    </div>







  </body>
</html>
